@media only screen and (max-width:1280px) {
  .content h3 {
    padding: 0 30px;
  }
}

@media only screen and (max-width:1024px) {
  .navbar ul {justify-content: right;}
  .hero .content h1 {font-size: 2.5rem;
    padding-top: 10%;}
}

@media only screen and (max-width:932px) {
  .navbar a {margin: 0 5px;}
  .navbar {padding: 0 10px;}
}

@media only screen and (max-width:768px) {
  .nav {text-align: center;}
  .navbar {height: auto;}
  .navbar ul {display: none;}
  #menu {padding: 5% 0;}  
  .mobile-nav-icon {display: block;} 
  .navbar .nav a:hover {
    border-bottom: 0;
  } 

}

@media only screen and (max-width:280px) {
  .nav ul{
    font-size: 0.7rem;
  } 
}